@model List<Controle_De_Impressoras.Models.PrintersModel>
@{
    ViewBag.Title = "Controle De Impressoras";
}
<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0 !important;
        padding: 0 !important;
    }

    .custom-page {
        display: grid;
        grid-template-columns: 8fr 1fr;
        gap: 2rem;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .containerImpressora {
        background-color: #f9f9f9;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 1rem;
    }

    .filtrosImpressoras {
        padding: 2rem;
        background: #3d3d3d;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container body-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
    }

    .item2 {
        grid-column: 2;
        grid-row: 1;
    }

    .item3 {
        grid-column: 3;
        grid-row: 1;
    }

    .item4 {
        grid-column: 1;
        grid-row: 2;
    }

    .item5 {
        grid-column: 2;
        grid-row: 2;
    }

    .item6 {
        grid-column: 3;
        grid-row: 2;
    }

    .item7 {
        grid-column: 1 / -1;
        grid-row: 3;
    }

    .gridContainer1 {
        display: grid;
        grid-template-columns: 1fr 4fr 3fr;
        gap: 10px;
    }

    .gridContainer2 {
        display: grid;
        grid-template-columns: 5fr 2fr 1fr;
        gap: 10px;
    }

    .gridContainer3 {
        display: grid;
        grid-template-columns: 1fr;
    }
</style>

<main class="custom-page">
    <section class="gridContainer">
        <div class="containerImpressora">
            <!-- Primeira Grid -->
            <div class="gridContainer1">
                <div class="item1">Item 1</div>
                <div class="item2">Item 2</div>
                <div class="item3">Item 3</div>
            </div>

            <!-- Segunda Grid -->
            <div class="gridContainer2">
                <div class="item4">Item 4</div>
                <div class="item5">Item 5</div>
                <div class="item6">Item 6</div>
            </div>

            <!-- Terceira Grid (1 item que ocupa toda a linha) -->
            <div class="gridContainer3">
                <div class="item7">Item 7</div>
            </div>
        </div>
    </section>

    <nav class="filtrosImpressoras">
        <!-- Filtros podem ser adicionados aqui -->
    </nav>
</main>

<script>
    function abrirInfo(id) {
        var div_info = document.getElementById("info_impressora_" + id);
        var i_icon = document.getElementById("icon_" + id);

        if (div_info.style.display == "none") {
            div_info.style.display = "table";
            i_icon.style.transform = "rotate(180deg)";
        }
        else {
            div_info.style.display = "none";
            i_icon.style.transform = "rotate(0deg)";
        }
    }

    // Função para verificar porcentagens de tinta
    function verificarPorcentagens() {
        const linhas = document.querySelectorAll("#corpo_tabela tr[data-id]");

        linhas.forEach(linha => {
            linha.querySelectorAll('.ink-level').forEach(div => {
                const porcentagem = parseInt(div.querySelector('.ink-fill').style.height);

                if (porcentagem === 0) {
                    const icone = document.createElement('i');
                    icone.className = 'bi bi-exclamation-octagon';
                    icone.style.fontSize = '24px';
                    div.replaceWith(icone);
                }
            });
        });
    }

    verificarPorcentagens();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
